<div class="flex flex-col max-w-3xl md:min-w-200 max -m-6 height-dialog">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Detalle Usuario</div>
        <button mat-icon-button [tabIndex]="-1" (click)="cerrarVentanaEmergente()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="detalleUsuarioForm">
        @if (isMobilSize()) {
        <div class="flex flex-wrap space-y-2">

            <div class="w-full">
                <!-- Tipo de Documento -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select formControlName="tipoDocumento" required #selectTipoDocumentoItem
                        [compareWith]="compareObjects">
                        <mat-select-trigger *ngIf="selectTipoDocumentoItem.value">
                            {{selectTipoDocumentoItem.value.descripcion}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let option of allTipoDocumento" [value]="option">
                            {{ option.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Número de Documento -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Número de Documento</mat-label>
                    <input autocomplete="off" matInput formControlName="numeroDocumento" maxlength="20" required>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Rol -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol" required #selectRolItem [compareWith]="compareObjects">
                        <mat-select-trigger *ngIf="selectRolItem.value">
                            {{selectRolItem.value.nombre}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let option of allRol" [value]="option">
                            {{ option.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Género -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="genero" required #selectGeneroItem [compareWith]="compareObjects">
                        <mat-select-trigger *ngIf="selectGeneroItem.value">
                            {{selectGeneroItem.value.descripcion}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let option of allGenero" [value]="option">
                            {{ option.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="w-full">
                <!-- Nombres -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Nombres</mat-label>
                    <input autocomplete="off" matInput formControlName="nombres" maxlength="50" required>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Apellidos -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Apellidos</mat-label>
                    <input autocomplete="off" matInput formControlName="apellidos" maxlength="50" required>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Fecha de Nacimiento -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="'fechaNacimiento'"
                        (click)="picker.open()" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Celular -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Celular</mat-label>
                    <input autocomplete="off" matInput formControlName="celular" maxlength="20">
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Dirección -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" />
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Correo Electrónico -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Correo Electrónico</mat-label>
                    <input autocomplete="off" matInput formControlName="correoElectronico" maxlength="50" required>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Fecha Registro -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Fecha registro</mat-label>
                    <input autocomplete="off" matInput [formControlName]="'fechaRegistro'"
                        [matDatetimepicker]="fechaRegistro" autocomplete="false" placeholder="Fecha registro"
                        class="text-sm h-8 p-1" />
                    <mat-datetimepicker-toggle matSuffix [for]="fechaRegistro"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #fechaRegistro type="datetime" openOnFocus="false"
                        timeInterval="5"></mat-datetimepicker>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Última Fecha Modificación   -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Última fecha modificación</mat-label>
                    <input matInput [formControlName]="'fechaActualizacion'" [matDatetimepicker]="fechaActualizacion"
                        autocomplete="false" placeholder="Última fecha modificación" class="text-sm h-8 p-1" />
                    <mat-datetimepicker-toggle matSuffix [for]="fechaActualizacion"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #fechaActualizacion type="datetime" openOnFocus="false"
                        timeInterval="5"></mat-datetimepicker>
                </mat-form-field>
            </div>

            <!-- Botones -->
            <div class="w-full flex justify-between">
                <button class="mobil-btn" mat-flat-button color="primary" type="button"
                    (click)="cerrarVentanaEmergente()">
                    <span>Cerrar</span>
                </button>
                <span class="w-4"></span>

            </div>
        </div>

        } @else {

        <div class="flex justify-between gap-4 mb-2">
            <!-- Tipo de Documento -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select formControlName="tipoDocumento" required #selectTipoDocumentoItem
                    [compareWith]="compareObjects">
                    <mat-select-trigger *ngIf="selectTipoDocumentoItem.value">
                        {{selectTipoDocumentoItem.value.descripcion}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let option of allTipoDocumento" [value]="option">
                        {{ option.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Número de Documento -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Número de Documento</mat-label>
                <input autocomplete="off" matInput formControlName="numeroDocumento" maxlength="20" required>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4 mb-2">
            <!-- Rol -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" required #selectRolItem [compareWith]="compareObjects">
                    <mat-select-trigger *ngIf="selectRolItem.value">
                        {{selectRolItem.value.nombre}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let option of allRol" [value]="option">
                        {{ option.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Género -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Género</mat-label>
                <mat-select formControlName="genero" required #selectGeneroItem [compareWith]="compareObjects">
                    <mat-select-trigger *ngIf="selectGeneroItem.value">
                        {{selectGeneroItem.value.descripcion}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let option of allGenero" [value]="option">
                        {{ option.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4 mb-2">
            <!-- Nombres -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Nombres</mat-label>
                <input autocomplete="off" matInput formControlName="nombres" maxlength="50" required>
            </mat-form-field>
            <!-- Apellidos -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Apellidos</mat-label>
                <input autocomplete="off" matInput formControlName="apellidos" maxlength="50" required>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4 mb-2">


            <!-- Fecha de Nacimiento -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="'fechaNacimiento'" (click)="picker.open()"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- Celular -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Celular</mat-label>
                <input autocomplete="off" matInput formControlName="celular" maxlength="20">
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4 mb-2">

            <!-- Dirección -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Dirección</mat-label>
                <input autocomplete="off" matInput formControlName="direccion" maxlength="200">
            </mat-form-field>

            <!-- Correo Electrónico -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Correo Electrónico</mat-label>
                <input autocomplete="nope" matInput formControlName="correoElectronico" maxlength="50" required>
            </mat-form-field>


        </div>

        <div class="flex justify-between gap-4 mb-2">

            <!-- Fecha Registro -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Fecha registro</mat-label>
                <input autocomplete="off" matInput [formControlName]="'fechaRegistro'"
                    [matDatetimepicker]="fechaRegistro" autocomplete="false" placeholder="Fecha registro"
                    class="text-sm h-8 p-1" />
                <mat-datetimepicker-toggle matSuffix [for]="fechaRegistro"></mat-datetimepicker-toggle>
                <mat-datetimepicker #fechaRegistro type="datetime" openOnFocus="false"
                    timeInterval="5"></mat-datetimepicker>
            </mat-form-field>

            <!-- Última Fecha Modificación   -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Última fecha modificación</mat-label>
                <input matInput [formControlName]="'fechaActualizacion'" [matDatetimepicker]="fechaActualizacion"
                    autocomplete="false" placeholder="Última fecha modificación" class="text-sm h-8 p-1" />
                <mat-datetimepicker-toggle matSuffix [for]="fechaActualizacion"></mat-datetimepicker-toggle>
                <mat-datetimepicker #fechaActualizacion type="datetime" openOnFocus="false"
                    timeInterval="5"></mat-datetimepicker>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex justify-end mt-2">
            <button class="px-8" mat-flat-button color="primary" type="button" (click)="cerrarVentanaEmergente()">
                <span> Cerrar </span>
            </button>

        </div>
        }

    </form>
</div>