<div class="flex flex-col max-w-3xl md:min-w-200 max -m-6 height-dialog">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Modificar categoría</div>
        <button mat-icon-button [tabIndex]="-1" (click)="cerrarVentanaEmergente()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="actualizaCategoriaForm">
        @if (isMobilSize()) {
        <div class="flex flex-wrap space-y-2">
            <div class="w-full">
                <!-- Nombre -->
                <mat-form-field class="w-full" [appearance]="'outline'" >
                    <mat-label>Nombre</mat-label>
                    <input autocomplete="off" matInput [formControlName]="'nombre'" maxlength="50" required>
                    <mat-error *ngIf="actualizaCategoriaForm.get('nombre').hasError('required')">
                        Nombre es requerido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Medida -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Medida</mat-label>
                    <mat-select [formControlName]="'medida'" #selectMedidaItem [compareWith]="compareObjects">
                        <mat-select-trigger *ngIf="selectMedidaItem.value">
                            {{selectMedidaItem.value.nombre}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let option of allMedidaDataSource" [value]="option" disabled>

                            {{ option.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="actualizaCategoriaForm.get('medida').hasError('required')">Medida es
                        requerido</mat-error>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Descripción -->
                <mat-form-field class="w-full" [appearance]="'outline'">
                    <mat-label>Descripción</mat-label>
                    <textarea autocomplete="off" matInput formControlName="descripcion" maxlength="250"></textarea>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Color -->
                <mat-form-field class="w-full">
                    <input  autocomplete="off" matInput readonly placeholder="Color" required>
                    <ngx-colors [formControlName]="'color'" ngx-colors-trigger required acceptLabel="Aceptar" cancelLabel="Cancelar" >
                    </ngx-colors>
                </mat-form-field>
            </div>

            <div class="w-full">
                <!-- Activo -->
                <mat-form-field class="w-full">
                    <input matInput readonly>
                    <mat-checkbox [color]="'primary'" matSuffix [formControlName]="'activo'">
                        Activo
                    </mat-checkbox>
                </mat-form-field>
            </div>

            <!-- Botones -->
            <div class="w-full flex justify-between">
                <button class="mobil-btn" mat-stroked-button color="accent" type="button"
                    (click)="cerrarVentanaEmergente()">
                    <span>Cancelar</span>
                </button>
                <span class="w-4"></span>

                <button class="mobil-btn" mat-flat-button color="primary" type="button"
                    (click)="UpdateCategoriaAsync()" [disabled]="actualizaCategoriaForm.invalid || isCallingService">
                    <span *ngIf="!actualizaCategoriaForm.disabled">Guardar</span>
                    <mat-progress-spinner *ngIf="actualizaCategoriaForm.disabled" [diameter]="24"
                        mode="indeterminate"></mat-progress-spinner>
                </button>
            </div>
        </div>

        }
        @else {

        <div class="flex justify-between gap-4 mb-2">
            <!-- Nombre -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Nombre</mat-label>
                <input autocomplete="off" matInput formControlName="nombre" maxlength="50" required>
                <mat-error *ngIf="actualizaCategoriaForm.get('nombre').hasError('required')">
                    Nombre es requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4 mb-2">
            <!-- Medida -->
            <mat-form-field class="flex-1" [appearance]="'outline'">
                <mat-label>Medida</mat-label>
                <mat-select [formControlName]="'medida'" required #selectMedidaItem [compareWith]="compareObjects">
                    <mat-select-trigger *ngIf="selectMedidaItem.value">
                        {{selectMedidaItem.value.nombre}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let option of allMedidaDataSource" [value]="option">

                        {{ option.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="actualizaCategoriaForm.get('medida').hasError('required')">Medida es
                    requerido</mat-error>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4">
            <!-- Descripcion -->
            <mat-form-field class="flex-1"[appearance]="'outline'" >
                <mat-label>Descripción</mat-label>
                <textarea matInput [formControlName]="'descripcion'" maxlength="250"></textarea>
            </mat-form-field>
        </div>

        <div class="flex justify-between gap-4">
            <!-- Color -->
            <mat-form-field class="flex-1">
                <input autocomplete="off" matInput readonly placeholder="Color" required>
                <ngx-colors formControlName="color" ngx-colors-trigger required acceptLabel="Aceptar" cancelLabel="Cancelar" >
                </ngx-colors>
            </mat-form-field>

            <!-- Activo -->
            <mat-form-field class="flex-1">
                <input autocomplete="off" matInput readonly>
                <mat-checkbox [color]="'primary'" matSuffix [formControlName]="'activo'">Activo</mat-checkbox>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex justify-end mt-2">
            <button class="px-8" mat-stroked-button [color]="'accent'" type="button" (click)="cerrarVentanaEmergente()">
                <span> Cancelar </span>
            </button>
            <button class="hidden sm:inline-flex ml-3 sm:w-40 sm:h-10 sm:items-center sm:justify-center" mat-flat-button
                [color]="'primary'" type="button" [disabled]="actualizaCategoriaForm.invalid || isCallingService"
                (click)="UpdateCategoriaAsync()">
                <span *ngIf="!actualizaCategoriaForm.disabled">
                    Guardar
                </span>
                <mat-progress-spinner *ngIf="actualizaCategoriaForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>

        }
    </form>
</div>