<div class="w-full max-w-3xl">
    <!-- Formulario -->
    <form [formGroup]="informacionForm">

        <!-- Sección: Configuración Visual -->
        <div class="w-full mt-5">
            <div class="text-xl font-semibold text-gray-800">Configuración Visual</div>
            <div class="text-secondary">Personaliza cómo se verá la boleta generada automáticamente.</div>
        </div>

        <!-- Imagen -->
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
            <div
                class="relative flex items-center justify-center w-24 h-28 overflow-hidden ring-4 ring-bg-card group bg-gray-100 group">
                <ng-container *ngIf="selectedFiles?.length > 0 || foto; else noImage">
                    <img class="absolute inset-0 object-cover w-full h-full"
                        [src]="selectedFiles?.length > 0 ? selectedFiles : foto">
                </ng-container>
                <ng-template #noImage>
                    <div class="flex flex-col items-center justify-center w-24 h-28 text-gray-600 bg-gray-100 group">
                        <span class="text-sm font-semibold">SIN IMAGEN</span>
                    </div>
                </ng-template>
                <div
                    class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10 opacity-0 group-hover:opacity-100 transition-opacity">
                    <label class="flex items-center justify-center w-8 h-8 rounded-full cursor-pointer hover:bg-hover"
                        for="avatar-file-input" matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                    </label>
                    <input id="avatar-file-input" type="file" class="hidden"
                        [accept]="'image/jpeg, image/png, image/webp'" (change)="onFileSelected($event)" />
                    <button *ngIf="selectedFiles?.length > 0 || foto" mat-icon-button
                        class="ml-2 text-white hover:text-red-500" aria-label="Eliminar avatar"
                        (click)="eliminarFoto()">
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'" aria-hidden="true">
                        </mat-icon>
                    </button>
                </div>
            </div>
            <div class="text-center mt-2 text-sm text-gray-500">
                <p>Te recomendamos usar una imagen de al menos 272 × 315 píxeles y un tamaño máximo de 250 KB.</p>
            </div>
        </div>

        <!-- Color Cabecera -->
        <div class="grid sm:grid-cols-2 gap-6 w-full mt-6">
            <mat-form-field class="w-full">
                <input autocomplete="off" matInput readonly placeholder="Color Cabecera y Detalle">
                <ngx-colors formControlName="color" ngx-colors-trigger required acceptLabel="Aceptar"
                    cancelLabel="Cancelar" format="hex"></ngx-colors>
            </mat-form-field>

            <!-- Formato de Impresión -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Formato de impresión</mat-label>
                <mat-select [formControlName]="'formatoImpresion'">
                    <mat-option value="TKT">Ticketera</mat-option>
                    <mat-option value="PDF">PDF</mat-option>
                </mat-select>
                <mat-error *ngIf="informacionForm.get('formatoImpresion').hasError('required')">
                    Seleccione un formato.
                </mat-error>
            </mat-form-field>
        </div>

        <mat-divider class="my-5"></mat-divider>

        <!-- Sección: Datos Comerciales -->
        <div class="w-full">
            <div class="text-xl font-semibold text-gray-800">Datos Comerciales</div>
            <div class="text-secondary">Estos datos se imprimirán en las boletas generadas automáticamente.</div>
        </div>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Razón Social -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Razón Social</mat-label>
                    <input [formControlName]="'razonSocial'" matInput>
                    <mat-error *ngIf="informacionForm.get('razonSocial').hasError('required')">
                        Razón Social es requerido.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- RUC -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>RUC</mat-label>
                    <input [formControlName]="'ruc'" matInput>
                    <mat-error *ngIf="informacionForm.get('ruc').hasError('required')">
                        RUC es requerido.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Celular -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input [formControlName]="'celular'" matInput>
                </mat-form-field>
                <mat-error *ngIf="informacionForm.get('celular')?.hasError('onlyPhoneNumbersForm')">
                    Ingrese un celular válido.
                </mat-error>
            </div>

            <!-- Correo -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input [formControlName]="'correo'" matInput>
                </mat-form-field>
                <mat-error *ngIf="informacionForm.get('correo').hasError('required')">
                    Correo es requerido.
                </mat-error>
                <mat-error *ngIf="informacionForm.get('correo')?.hasError('invalidEmail')">
                    Ingrese un correo válido.
                </mat-error>
            </div>

            <!-- Moneda -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Moneda Del Sistema</mat-label>
                    <mat-select formControlName="moneda" required [compareWith]="compareObjects">
                        <mat-option *ngFor="let moneda of moendas" [value]="moneda">
                            {{ moneda.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Fecha de Registro -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Fecha de Registro</mat-label>
                    <input matInput [matDatepicker]="fechaRegistroPicker" [formControlName]="'fechaRegistro'">
                    <mat-datepicker-toggle matSuffix [for]="fechaRegistroPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaRegistroPicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Dirección -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <textarea [formControlName]="'direccion'" matInput></textarea>
                </mat-form-field>
            </div>
        </div>

        <!-- Alerta -->
        <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            <div [innerHTML]="alert.message"></div>
        </fuse-alert>

        <!-- Botón Guardar -->
        <div class="mt-5 mb-5 flex justify-end gap-4">
            <!-- Botón Previsualizar -->
            <button class="w-40 h-10 flex items-center justify-center" mat-stroked-button type="button" color="accent"
                [disabled]="informacionForm.invalid || isCaliingPreviewService"
                (click)="GetVistaPreviaBoletaFacturaAsync()">
                <mat-icon *ngIf="!isCaliingPreviewService" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                <span class="ml-1" *ngIf="!isCaliingPreviewService">Vista previa</span>
                <mat-progress-spinner *ngIf="isCaliingPreviewService" [diameter]="24"
                    mode="indeterminate"></mat-progress-spinner>
            </button>

            <!-- Botón Guardar -->
            <button class="w-40 h-10 flex items-center justify-center" mat-flat-button color="primary" type="button"
                [disabled]="informacionForm.invalid || isUpdatingService" (click)="UpdateInformacionNegocioAsync()">
                <span *ngIf="!isUpdatingService">Guardar</span>
                <mat-progress-spinner *ngIf="isUpdatingService" [diameter]="24"
                    mode="indeterminate"></mat-progress-spinner>
            </button>
        </div>

        <iframe class="  mt-8" *ngIf="urlSafe" [src]="urlSafe" width="100%" height="600"></iframe>
    </form>
</div>