<div class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="actualizaUsuarioForm">

        <!-- Imagen -->
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
            <div
                class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card bg-gray-100 group">

                <!-- Imagen Container -->
                <ng-container *ngIf="selectedFiles?.length > 0 || foto; else noImage">
                    <img class="absolute inset-0 object-cover w-full h-full"
                        [src]="selectedFiles?.length > 0 ? selectedFiles : foto">
                </ng-container>

                <!-- Plantilla para cuando no hay imagen -->
                <ng-template #noImage>
                    <div class="flex flex-col items-center justify-center w-full h-full bg-gray-200 text-gray-600">
                        <span class="text-lg font-semibold">SIN IMAGEN</span>
                        <span *ngIf="iniciales" class="text-4xl font-bold uppercase">{{ iniciales }}</span>
                    </div>
                </ng-template>

                <!-- Controles para subir/eliminar avatar -->
                <div
                    class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10 opacity-0 group-hover:opacity-100 transition-opacity">
                    <!-- Icono de la cámara para subir una nueva foto -->
                    <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        for="avatar-file-input" matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                    </label>
                    <!-- Input de archivo -->
                    <input id="avatar-file-input" type="file" class="hidden" [accept]="'image/jpeg, image/png'"
                        (change)="onFileSelected($event)" />

                    <!-- Icono de eliminar imagen -->
                    <button *ngIf="selectedFiles?.length > 0 || foto" mat-icon-button
                        class="ml-2 text-white hover:text-red-500" aria-label="Eliminar avatar"
                        (click)="eliminarFoto()">
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"
                            aria-hidden="true"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Mensaje de recomendación -->
            <div class="text-center mt-2 text-sm text-gray-500">
                <p>Te recomendamos que uses una foto de 98 × 98 píxeles como mínimo y 250KB como máximo. Usa un archivo
                    PNG o GIF (sin animaciones).</p>
            </div>
        </div>

        <!-- Section -->
        <div class="w-full mt-6">
            <div class="text-xl">Información Personal</div>
            <div class="text-secondary">Después de cambiar su información, necesitarás iniciar sesión nuevamente</div>
        </div>

        <!-- Alert -->
        <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [type]="alert.type" [@shake]="alert.type === 'error'">
            <div [innerHTML]="alert.message"></div>
        </fuse-alert>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- Tipo Documento -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select formControlName="tipoDocumento">
                        <mat-option [value]="usuarioDetalleInput.tipoDocumento.id">
                            {{ usuarioDetalleInput.tipoDocumento.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Número de Documento -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Número de Documento</mat-label>
                    <input autocomplete="off" [formControlName]="'numeroDocumento'" matInput>
                </mat-form-field>
            </div>

            <!-- Rol -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol" required>
                        <mat-option [value]="usuarioDetalleInput.rol.id">
                            {{ usuarioDetalleInput.rol.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Género -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="genero" required>
                        <mat-option [value]="usuarioDetalleInput.genero.id">
                            {{ usuarioDetalleInput.genero.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Nombres -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input [formControlName]="'nombres'" matInput>
                    <mat-error *ngIf="actualizaUsuarioForm.get('nombres').hasError('required')">
                        Nombres son requeridos
                    </mat-error>
                    <mat-error *ngIf="actualizaUsuarioForm.get('nombres')?.hasError('onlyLettersForm')">
                        Ingrese nombres válidos, sin caracteres especiales o números
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Apellidos -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input [formControlName]="'apellidos'" matInput>
                    <mat-error *ngIf="actualizaUsuarioForm.get('apellidos').hasError('required')">
                        Apellidos son requeridos
                    </mat-error>
                    <mat-error *ngIf="actualizaUsuarioForm.get('apellidos')?.hasError('onlyLettersForm')">
                        Ingrese apellidos válidos, sin caracteres especiales o números
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="'fechaNacimiento'">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Correo electrónico -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input [formControlName]="'celular'" matInput>
                </mat-form-field>
            </div>

            <!-- Correo electrónico -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input [formControlName]="'correoElectronico'" matInput>
                </mat-form-field>
            </div>

            <!-- Fecha de Registro -->
            <div class="sm:col-span-2">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Fecha de Registro </mat-label>
                    <input matInput [matDatepicker]="fechaRegistroPicker" [formControlName]="'fechaRegistro'">
                    <mat-datepicker-toggle matSuffix [for]="fechaRegistroPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaRegistroPicker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Dirección -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <textarea [formControlName]="'direccion'" matInput></textarea>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-10 mb-5"></div>

        <!-- Contenido para pantallas pequeñas -->
        <div class="w-full flex justify-between lg:hidden">
            <span class="w-4"></span>
            <button class="mobil-btn w-40 flex justify-center items-center" mat-flat-button color="primary"
                type="button" [disabled]="actualizaUsuarioForm.invalid || isCallingService"
                (click)="UpdateUsuarioDetalleAsync()">
                <span *ngIf="!actualizaUsuarioForm.disabled">Guardar</span>
                <mat-progress-spinner *ngIf="actualizaUsuarioForm.disabled" [diameter]="24"
                    mode="indeterminate"></mat-progress-spinner>
            </button>
        </div>

        <!-- Contenido para pantallas grandes -->
        <div class="hidden lg:flex justify-end mt-2">
            <button class="ml-3 w-40 h-10 flex items-center justify-center" mat-flat-button [color]="'primary'"
                type="button" [disabled]="actualizaUsuarioForm.invalid || isCallingService"
                (click)="UpdateUsuarioDetalleAsync()">
                <span *ngIf="!actualizaUsuarioForm.disabled">
                    Guardar
                </span>
                <mat-progress-spinner *ngIf="actualizaUsuarioForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>

    </form>

</div>