<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation class="bg-card dark:bg-gray-900 print:hidden" [appearance]="'compact'"
        [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.compact"
        [opened]="!isScreenSmall">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center justify-center h-20">

                <img class="w-16" *ngIf="(logoPcp$ | async) as logoUrl" [src]="logoUrl" alt="Logo del sistema" />
            </div>

        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div
        class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center cursor-pointer">
                <div class="hidden lg:flex">
                    <img class="dark:hidden w-64" *ngIf="(logoHme$ | async) as logoHomeUrl" [src]="logoHomeUrl"
                        alt="Logo con Texto del sistema" />
                    <img class="hidden dark:flex w-64" *ngIf="(logoHme$ | async) as logoHomeUrl" [src]="logoHomeUrl"
                        alt="Logo con Texto del sistema" />
                </div>

                <img class="flex lg:hidden w-16" *ngIf="(logoPcp$ | async) as logoUrl" [src]="logoUrl"
                    alt="Logo del sistema" />
            </div>

            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation class="mr-2" [name]="'mainNavigation'"
                [navigation]="navigation.horizontal"></fuse-horizontal-navigation>

        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">

            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>

            <shortcuts></shortcuts>

            <!-- <notifications></notifications> -->
            <user></user>
            <!-- <button>
            <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button>
            </button> -->

        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered   and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <!-- <div
        class="relative flex flex-0 items-center w-full h-10 sm:h-10    px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">TuPlataformaVentas - PerfiSoft &copy; {{currentYear}}</span>
    </div> -->

</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->