<mat-drawer-container class="flex flex-col flex-auto min-w-0">
    <!-- Drawer -->
    <mat-drawer class="w-90" [mode]="'over'" #matDrawer autoFocus="false">
        <!-- Header -->
        <div class="flex items-center justify-between m-4 mr-3 sm:my-5">
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight leading-8">Filtrar por:</div>
            <!-- Close Drawer -->
            <div>
                <button mat-icon-button (click)="matDrawer.close()">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </button>
            </div>
        </div>
        <div class="flex flex-col flex-auto h-full dark:bg-default">
            <!-- Filtros -->
            <div class="flex flex-col flex-auto shrink-0 pt-6 bg-card dark:bg-transparent">
                <form class="flex flex-col px-6" [formGroup]="filtroAnalisisVentasForm">
                    <!-- Fecha  Inicio -->
                    <mat-form-field class="w-full" [appearance]="'outline'">
                        <mat-label>Fecha inicio</mat-label>
                        <input [min]="minDate" [max]="maxDate" (click)="pickerInicio.open()" autocomplete="off" matInput
                            [matDatepicker]="pickerInicio" [formControlName]="'fechaInicio'">
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                        <mat-error *ngIf="filtroAnalisisVentasForm.get('fechaInicio').hasError('required')">Fecha
                            inicio es requerido</mat-error>
                    </mat-form-field>

                    <!-- Fecha  Fin -->
                    <mat-form-field class="w-full" [appearance]="'outline'">
                        <mat-label>Fecha fin</mat-label>
                        <input [min]="minDate" [max]="maxDate" (click)="pickerFin.open()" autocomplete="off" matInput
                            [matDatepicker]="pickerFin" [formControlName]="'fechaFin'">
                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFin></mat-datepicker>
                        <mat-error *ngIf="filtroAnalisisVentasForm.get('fechaFin').hasError('required')">Fecha
                            fin es requerido</mat-error>
                    </mat-form-field>

                    <button class="mt-4 mb-8" mat-flat-button [color]="'primary'" (click)="btnBuscar(true)"
                        [disabled]="filtroAnalisisVentasForm.invalid || disabledBuscar">
                        <mat-icon *ngIf="!disabledBuscar" class="icon-size-2"
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <span class="ml-2" *ngIf="!disabledBuscar">Buscar</span>
                        <mat-progress-spinner *ngIf="disabledBuscar" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>

                    </button>
                </form>

            </div>
        </div>
    </mat-drawer>
    <!-- Content -->
    <mat-drawer-content class="flex flex-col">
        <div class="bg-card">

            <div class="flex flex-col w-full  mx-auto px-6 sm:px-8">

                <div *ngIf="!skeleton"
                    class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                    <!-- Avatar and name -->
                    <div class="flex items-center min-w-0 w-full">
                        @if (decodeToken.urlfoto != "") {
                        <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                            <img class="w-full h-full object-cover" [src]="decodeToken.urlfoto">
                        </div>
                        }
                        <div class="flex flex-col min-w-0 ml-4 flex-grow">
                            <ng-container>
                                <div
                                    class="text-2xl md:text-2xl font-semibold tracking-tight leading-7 md:leading-snug">
                                    Hola, {{decodeToken.nombres}}
                                </div>
                            </ng-container>
                            <div class="flex items-center">
                                Rol: <div class="ml-1.5 leading-6 ">{{decodeToken.nombreRol}}</div>
                            </div>
                            <div class="text-sm  mt-1 text-primary">Su resumen {{filtroRangoFecha}}</div>
                        </div>
                    </div>

                    <div class="mt-6 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                        <!-- Botón de configuración -->
                        <button class="   ml-3 sm:w-40 sm:h-10 sm:items-center sm:justify-center" mat-flat-button
                            [color]="'primary'" (click)="matDrawer.open()">
                            <mat-icon class="icon-size-5"
                                [svgIcon]="'heroicons_solid:adjustments-horizontal'"></mat-icon>
                            <span class="ml-2">Filtrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-auto border-t -mt-px   ">
            <div class="w-full  mx-auto">
                <!-- Tabs -->
                <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
                    <!-- Inicio -->
                    <mat-tab label="Inicio">
                        <ng-template matTabContent>
                            <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full ">
                                <!-- SKELETON -->
                                <ngx-skeleton-loader
                                    class=" sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                    count="40" [theme]="{ 'border-radius': '0', height: '25px' }"
                                    *ngIf="skeleton"></ngx-skeleton-loader>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                                    *ngIf="!skeleton">

                                    @if (reporteResumenDataSource.evolucionVentasFecha.totalVenta.length == 0 ) {

                                    <div class="sm:col-span-2 md:col-span-4 flex flex-col    overflow-hidden">

                                        <div
                                            class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                                            <!-- New vs. Closed -->
                                            <div class="flex flex-col flex-auto">

                                                <div class="flex flex-col items-center">
                                                    <img [src]="imgNoDataHome" alt="No hay datos disponibles"
                                                        class="w-72   object-cover" />
                                                    <div
                                                        class="mt-4 sm:mt-8 text-2xl md:text-2xl font-semibold tracking-tight leading-tight md:leading-none text-center">
                                                        {{textoResultado}}</div>
                                                    <div>
                                                        <p class="mt-2 text-gray-500 text-center">Aplique otros filtros
                                                            de
                                                            búsqueda
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    } @else {

                                    <!-- Total Productos -->
                                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">

                                        <div class="flex items-start justify-between">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Total
                                                Productos
                                            </div>

                                        </div>
                                        <div class="flex flex-col items-center mt-2">
                                            <div
                                                class="text-4xl sm:text-5xl font-bold tracking-tight leading-none text-blue-500">
                                                {{totalProductosRegistrados}}</div>
                                            <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
                                                Registrados
                                            </div>


                                        </div>
                                    </div>

                                    <!-- Total Clientes -->
                                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex items-start justify-between">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Total
                                                Clientes
                                            </div>

                                        </div>
                                        <div class="flex flex-col items-center mt-2">
                                            <div
                                                class="text-4xl sm:text-5xl font-bold tracking-tight leading-none text-amber-500">
                                                {{totalClientesRegistrados}}</div>
                                            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">
                                                Registrados
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Total Ventas -->
                                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex items-start justify-between">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Total
                                                Ventas 
                                            </div>


                                        </div>
                                        <div class="flex flex-col items-center mt-2">
                                            <div
                                                class="text-4xl sm:text-5xl font-bold tracking-tight leading-none text-green-500">
                                                {{ totalVentasRegistradas |
                                                currency:monedaInfo.codigoMoneda:'code':'':
                                                monedaInfo.cultureInfo }}

                                            </div>
                                            <div class="text-lg font-medium text-green-600 dark:text-green-500">
                                                Realizadas</div>
                                        </div>
                                    </div>

                                    <!-- Total Ventas Anuladas -->
                                    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex items-start justify-between">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Total
                                                Ventas
                                            </div>

                                        </div>
                                        <div class="flex flex-col items-center mt-2">
                                            <div
                                                class="text-4xl sm:text-5xl font-bold tracking-tight leading-none text-red-500">
                                                {{ totalVentasAnuladas |
                                                currency:monedaInfo.codigoMoneda:'code':'':
                                                monedaInfo.cultureInfo }}</div>



                                            <div class="text-lg font-medium text-red-600 dark:text-red-500">Anuladas
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Evolución por fecha -->
                                    <div
                                        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex justify-between items-center">
                                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Total
                                                Ventas Realizadas
                                                por Fechas
                                            </div>
                                        </div>
                                        <div
                                            class="grid grid-cols-1 lg:grid-cols-1 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                                            <div class="flex flex-col flex-auto">
                                                <div class="flex flex-col flex-auto">
                                                    <apx-chart [series]="chartEvolucionVentasFecha.series"
                                                        [chart]="chartEvolucionVentasFecha.chart"
                                                        [xaxis]="chartEvolucionVentasFecha.xaxis"
                                                        [dataLabels]="chartEvolucionVentasFecha.dataLabels"
                                                        [stroke]="chartEvolucionVentasFecha.stroke"
                                                        [tooltip]="chartEvolucionVentasFecha.tooltip"
                                                        [yaxis]="chartEvolucionVentasFecha.yaxis"
                                                        [noData]="chartEvolucionVentasFecha.noData"
                                                        [fill]="chartEvolucionVentasFecha.fill"></apx-chart>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--   Top Productos Más vendidas -->
                                    <div
                                        class="sm:col-span-2 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex justify-between items-center">
                                            <div
                                                class="text-lg font-medium tracking-tight leading-6 truncate text-black">
                                                Top Productos Más Vendidas
                                            </div>
                                        </div>

                                        <div class="flex flex-col flex-auto">
                                            <apx-chart [series]="chartTopDiezProductos.series"
                                                [chart]="chartTopDiezProductos.chart"
                                                [colors]="chartTopDiezProductos.colors"
                                                [dataLabels]="chartTopDiezProductos.dataLabels"
                                                [plotOptions]="chartTopDiezProductos.plotOptions"
                                                [tooltip]="chartTopDiezProductos.tooltip"
                                                [noData]="chartTopDiezProductos.noData"
                                                [xaxis]="chartTopDiezProductos.xaxis"></apx-chart>
                                        </div>
                                    </div>

                                    <!--  Top Marcas Más Vendidas -->
                                    <div
                                        class="sm:col-span-2 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex justify-between items-center">
                                            <div
                                                class="text-lg font-medium tracking-tight leading-6 truncate text-black">
                                                Top Marcas Más Vendidas
                                            </div>
                                        </div>

                                        <div class="flex flex-col flex-auto">
                                            <apx-chart [series]="chartTopDiezMarcas.series"
                                                [chart]="chartTopDiezMarcas.chart" [colors]="chartTopDiezMarcas.colors"
                                                [dataLabels]="chartTopDiezMarcas.dataLabels"
                                                [plotOptions]="chartTopDiezMarcas.plotOptions"
                                                [tooltip]="chartTopDiezMarcas.tooltip"
                                                [noData]="chartTopDiezMarcas.noData"
                                                [xaxis]="chartTopDiezMarcas.xaxis"></apx-chart>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <!-- Colaboradores -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span class="inline-flex items-center space-x-2">
                                <span class="">Colaboradores</span>

                            </span>
                        </ng-template>
                        <ng-template matTabContent>
                            <div
                                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                                <ng-container *ngFor="let colaborador of colaboradoresActivos">
                                    <div
                                        class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                                        <!-- Avatar & Info -->
                                        <div class="flex flex-col flex-auto w-full p-8 text-center">
                                            <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                                                <img class="w-full h-full object-cover"
                                                    [src]="colaborador.urlFoto ? colaborador.urlFoto : 'assets/images/logo/default-avatar.jpg'">
                                            </div>
                                            <div class="mt-6 font-medium">{{colaborador.nombres}}</div>
                                            <div class="text-secondary">{{colaborador.nombreRol}}</div>
                                        </div>
                                        <!-- Email & Phone -->
                                        <div class="flex items-center w-full border-t divide-x">
                                            <!-- <a
                                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="'mailto:' + colaborador.email">
                                            <mat-icon
                                                class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                                            <span class="ml-2">Email</span>
                                        </a>
                                        <a
                                            class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="'tel:' + colaborador.phone">
                                            <mat-icon
                                                class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                            <span class="ml-2">Call</span>
                                        </a> -->
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-template>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>